
/*
Colors:

* Blue: #2aa0c8
* DkGray: #66767c
* LtGray: #98a3a6
*
*/

main h1 {
display: inline;
}

main section {
clear: both;
}

.logo:before {
content: url(stratuslab-logo-white.png);
float: left;
padding: 1ex;
}

footer p {
clear: both;
text-align: center;
padding: 2ex;
}

#editor {
width: 90%;
}

.CodeMirror {
border: none;
}
