<?xml version="1.0" encoding="UTF-8"?><web-app>
  <servlet>
    <servlet-name>StratusLab CIMI Servlet</servlet-name>
    <servlet-class>eu.stratuslab.cimi.servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StratusLab CIMI Servlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
